npm-debug.log
/node_modules
/platforms
/plugins
.jsdtscope
.tern-project
.project
.settings
/nbproject
.sass-cache
/www/css/*.min.css
/www/css/*.min.css.*
/www/js
/www/bower_components
/bower_components
/www/index.html
.netbeans.xml
/src/api-client/node_modules/
/config.json
.DS_Store