doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(http-equiv='Content-Security-Policy', content="default-src " + generic.defaultSrc + "; style-src " + generic.styleSrc + "; media-src "  + generic.mediaSrc)
    meta(name='format-detection', content='telephone=no')
    meta(name='msapplication-tap-highlight', content='no')
    meta(name='viewport', content='user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width')
    script(defer="defer", src='js/pug-templates.js')
    // bower:js 
    // endbower
    script(src="cordova.js",type="text/javascript")
    script(defer="defer", src='js/config.js')
    //script(src='https://cdn.metatavu.io/libs/tools/debug/0.0.4/debug.js')
    script(defer='defer',src='https://cdn.metatavu.io/libs/hyperform/0.8.15/hyperform.min.js',type='text/javascript')
    script(defer="defer", src='https://cdn.metatavu.io/libs/metaform-fields/0.6.20/js/metaform-client.min.js')
    script(defer="defer", src='js/main.min.js')

    // bower:css 
    // endbower
    link(rel='stylesheet', href='css/app.min.css')
  body
    .row.header-container
      .col-8
        img(src="gfx/mikkeli-logo.png" class="logo-image")
        h5(class="header-text") Yhteinen yritystieto
      .col-2.navigation-icon
        i(class="fa fa-bars float-right toggle-navigation", style="font-size:26px;")
    .alert.alert-success
    .navigation
      .navigation-container
    .content
      .container
        div(class="metaform-container" data-page="metaform")
      div(class="news-container" data-page="news")